:root {
	--color1: #f3f2f2;
	--color2: #ffffff;
	--color3: #a6927f;
	--color4: #bfb1a3;
}

.color1 {
	background-color: var(--color1);
}

.color2 {
	background-color: var(--color2);
}

.color3 {
	background-color: var(--color3);
}

.color4 {
	background-color: var(--color4);
}

#logo {
	height: 90px;
}

.nav-item {
	font-size: large;
}

.nav-item:hover {
	border-bottom: 2px solid var(--color3);
	font-weight: 500;
	background-color: var(--color2);
}

.carousel,
.carousel-item {
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}

.min-opacity {
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;

}

.price {
	background-color: var(--color1);
	width: 150px;
	margin: auto;
	border-radius: 20px;
	border-bottom: 2px solid var(--color3);
}

.icons {
	height: 30px;
}

.price_comment {
	font-size: 14px;
	text-align: justify;
	padding-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 2px solid var(--color3);
	border-bottom: 2px solid var(--color3);
}

.btn1 {
	border-color: var(--color4);
	background-color: var(--color2);
}

.btn1:hover {
	background-color: var(--color3);
	border-color: var(--color3);
	/*    border: none;*/
}

.form-label {
	font-size: 14px;
	font-weight: 500;
}

#frame {
	min-height: 210px;
}

.saveForm {
	background-color: var(--color1);
	border: 2px solid var(--color4);
}

.textfield {
	border-color: var(--color4);
}

.login {
	width: 300px
}

.btn-color {
	background-color: #0e1c36;
	color: #fff;
}

.profile-image-pic {
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-color: var(--color4);
}

.cardbody-color {
	background-color: var(--color1);
}

.msg {
	color: green;
}

.foot_info {
	font-size: 14px;
}

.card-img-top {
	padding: 10px;
}

#gallery-modal,
#exampleModal,
.modal-img,
.carousel-item {
	width: 100%;
	/*heigt: 100%;*/
}

.link-secondary {
	text-decoration: none;
}

.photocard {

	margin: auto;
	padding: 10px;
	border-radius: 10px;
	
}

.cardItem {

	width: 100%;
	height: 0%;
	padding-top: 80%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 0;
	position: relative;
	overflow: hidden;

}

.cardItem img {
	padding: 0;
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/*.card-body {
	padding: 0px 10px 10px;
}*/

.modal-body {
	padding: 1.5%;
}